## **Hypothesis Testing**

In [70]:
#packages
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm

In [71]:
import scipy
scipy.__version__

'1.7.3'

## **T Test**
A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 2 types : 1. one sampled t-test 2. two-sampled t-test.



1.   ttest_1samp - Calculates the T-test for the mean of ONE group of scores.
2.   ttest_ind - Calculates the T-test for the means of TWO INDEPENDENT samples of scores. 
3.   ttest_rel - Calculates the T-test on TWO RELATED samples of scores, a and b.

*    Statsmodels is a Python package that allows users to explore data, estimate statistical models, and perform statistical tests. 
*    All of the statistics functions are located in the sub-package scipy. stats and a fairly complete listing of these functions can be obtained using info(stats) function.

In [72]:
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel

## **Two-sample T-test With Python**
The Independent Samples t Test or 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different. The Independent Samples t Test is a parametric test. This test is also known as: Independent t Test

![image.png]()

**Here we are comparing the Ages of Class A and Class B students, two individual groups.**

In [73]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(6)


#for class A loc=18 indicates the class students age starting from 18
#mean age of Class A students is mu=30 
# and the size of Class A =60

classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)

In [74]:
classA_ages.mean()

48.016666666666666

In [75]:
#to comapre the age of Class A and class B, here we take Class B as another group

#for class b loc=18 indicates the class students age starting from 18
#mean age of Class B students is mu=33 
# and the size of Class A =60
np.random.seed(12)
ClassB_ages=stats.poisson.rvs(loc=18,mu=33,size=60)
ClassB_ages.mean()

50.63333333333333

In [76]:
#here we use ttest_ind to get the result

_,p_value=stats.ttest_ind(a=classA_ages,b=ClassB_ages,equal_var=False)

In [77]:
if p_value < 0.05:  
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis