## **Hypothesis Testing**

In [88]:
#packages
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm

In [89]:
import scipy
scipy.__version__

'1.7.3'

## **T Test**
A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 2 types : 1. one sampled t-test 2. two-sampled t-test.



1.   ttest_1samp - Calculates the T-test for the mean of ONE group of scores.
2.   ttest_ind - Calculates the T-test for the means of TWO INDEPENDENT samples of scores. 
3.   ttest_rel - Calculates the T-test on TWO RELATED samples of scores, a and b.

*    Statsmodels is a Python package that allows users to explore data, estimate statistical models, and perform statistical tests. 
*    All of the statistics functions are located in the sub-package scipy. stats and a fairly complete listing of these functions can be obtained using info(stats) function.

In [90]:
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel

## **Paired T-test With Python**
When you want to check how different samples from the same group are, you can go for a paired T-test

In [91]:
#weight 1 indicates the weight of kids in a school.
#weight 2 is the weight of same kids after years.
#in weight 2 it is added some normal values with scale 5, loc=1.25
#in all 15 values are added the normal value
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

Here we are checking weight 1 and weight 2 have and statistical differnce

And to check how differnce isparticular samples are

### Ho : there is no statitical differnce in weights\
### H1 : there is a statistical differnce in weights

In [92]:
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[16.1845637  24.93234756 27.99601605 25.80095696 21.85237039 33.36380814
 33.19646047 28.63874933 28.9100301  34.41607782 21.43952644 27.08685451
 33.96370697 34.13369994 46.03845269]

In [93]:
#combined all into a data frame
weight_df=pd.DataFrame({"weight_10":np.array(weight1),
                         "weight_20":np.array(weight2),
                       "weight_change":np.array(weight2)-np.array(weight1)})

In [94]:
weight_df

    weight_10  weight_20  weight_change
0          25  16.184564      -8.815436
1          30  24.932348      -5.067652
2          28  27.996016      -0.003984
3          35  25.800957      -9.199043
4          28  21.852370      -6.147630
5          34  33.363808      -0.636192
6          26  33.196460       7.196460
7          29  28.638749      -0.361251
8          30  28.910030      -1.089970
9          26  34.416078       8.416078
10         28  21.439526      -6.560474
11         32  27.086855      -4.913145
12         31  33.963707       2.963707
13         30  34.133700       4.133700
14         45  46.038453       1.038453

In [95]:
#using ttest_rel code we are calculating the ttest on 2 related samples.

_,p_value=stats.ttest_rel(a=weight1,b=weight2)

In [96]:
print(p_value)

0.3844965760393534

In [97]:
if p_value < 0.05:   
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

Since there is a little bit change in the weights here the null hypothesis is Accepted,

beacuse p vlue > 0.05